.header-top {
  font-family: Pacifico, sans-serif;
  font-size: 40px;
  color: #4ac0b9;
  padding: 20px 0;
  margin: 80px 0 30px;
 
}
.menu-image {
  width: 25%;
  height: 25%;
 
}
.header {
  font-size: 25px;
}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
 body {
  
 
}