body {
  text-align:center;
}
.header-top {
  font-family: Pacifico, sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-family: Georgia, serif;
  background: linear-gradient(to right, #4364f7, #6fb1fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  max-width: 70vw;
 
}
.menu-image {
  width: 25%;
  height: 25%;
  display: inline-block;
 
  
 
}
.header {
  font-size: 25px;
}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

  
 
