body {
  color: #c9caca;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 10%;
}

.headline .caption .item {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .item h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .item {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .item h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .price {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .price h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .allergy {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .allergy h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .description {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #c9caca;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 50%;
  height: 50%;
}

